.home-container {
  margin: auto;
  width: 75%;

  @media (max-width: 750px) {
    width: auto;
  }

  a {
    color: $off-white;
  }
}

.boards {
  display: flex;
  flex-flow: column nowrap;
  margin-top: 30px;
  gap: 10px;

  .board {
    background-color: $darker_black;
    padding: 20px;
    border-radius: 5px;
    box-sizing: border-box;

    p {
      max-width: 250px;
    }

    span {
      color: $light-grey;
    }
  }
}
