// variables
$black : #202020;
$darker_black : #171717;
$off-white : beige;
$light-grey: rgb(168, 168, 168);
$accent-color : #9890bc;
$bad-color: rgb(197, 82, 82);
$good-color: rgb(105, 167, 105);
$main_font : 'fig-serif';
$menu_font : 'bitcount-mono-double-circle';

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 20px;
  background-color: $black;
  color: $off-white;
}

main {
  font-family: $main_font;
  font-weight: 500;
  margin-top: 40px;

  @media (max-width: 750px) {
    font-weight: 800;
  }
}

a {
  color : $off-white;
}

a:hover {
  color: white;
  cursor: pointer;
}

.hidden {
  display: none;
  visibility: hidden;
}

// menu
nav { 
  //mobile menu
  // source https://codepen.io/danhearn/pen/XprGrJ
  input[type=checkbox] {
    display: none;
  }

  @media (max-width: 750px) {
    #overlay-button {
      position: fixed;
      right: 2em;
      top: 15px;
      padding: 26px 11px;
      z-index: 5;
      cursor: pointer;
      user-select: none;
      span {
          height: 4px;
          width: 35px;
          border-radius: 2px;
          background-color: $off-white;
          position: relative;
          display: block;
          transition: all .2s ease-in-out;
          &:before {
            top: -10px;
            visibility: visible;
          }
          &:after {
            top: 10px;
          }
          &:before, &:after {
              height: 4px;
              width: 35px;
              border-radius: 2px;
              background-color: $off-white;
              position: absolute;
              content: "";
              transition: all .2s ease-in-out;
          }
        }
        &:hover span, &:hover span:before, &:hover span:after {
          background: white;
        }
    }
    
    input[type=checkbox] {
      display: none;
      
      &:checked ~ #overlay {
        visibility: visible;
      }
      
      &:checked ~ #overlay-button {
        &:hover span, span{
          background: transparent;
        }
        span {
          &:before {
            transform: rotate(45deg) translate(7px, 7px);
            opacity: 1;
          }
          &:after {
            transform: rotate(-45deg) translate(7px, -7px);
          }
        }
      }
    }
    
    #overlay {
      height: 100vh;
      width: 100vw;
      background: $black;
      z-index: 2;
      visibility: hidden;
      position: fixed;
      top: 0;
      left: 0;

      &.active {
        visibility: visible;
      }
      ul {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        height: 100vh;
        padding-left: 0;
        list-style-type: none;
        li {
          padding: 1em;

          a {
            color: $off-white;
            text-decoration: none;
            font-size: 2.5em;
            &:hover {
              color: white;
            }
          }
        }
      }
    }
  }
  // end mobile menu
  ul {
    @media (min-width: 750px) {
    position: absolute;
    right: 30px;
    top: 20px;
    }
    
    li {
      list-style-type: none;
      display: inline-block;
    }

    a {
      margin-left: 0.5em;
    }
    a:hover {
      font-weight: 600;
    }
  }

  a {
    display: inline-block;
    width: fit-content;
    color: $off-white;
    text-decoration: none;
    font-size: 2em;
    font-family: $menu_font;
    font-weight: 500;
  }
}

// forms
form {
  
  input {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: $main_font;
    background-color: $off-white;
    border: none;
    border-radius: 4px;
    height: 20px;
    padding: 5px;
    font-size: 16px;
    font-weight: 800;

    &:active, &:focus, &:focus-visible {
      border: 2px solid $accent-color;
      outline: 1px solid white;
    }
  }

  textarea {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: $main_font;
    background-color: $off-white;
    border: none;
    border-radius: 4px;
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 800;

    &:active, &:focus, &:focus-visible {
      border: 2px solid $accent-color;
      outline: 1px solid white;
    }
  }

  input[type=checkbox]{
    margin-right: 10px;
    accent-color: $accent-color;
  }
}

//button
button, .button {
  font-family: $main_font;
  padding: 10px;
  margin-top: 10px;
  background-color: $accent-color;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 800;
}

.bad-btn {
  background-color: $bad-color;
  text-decoration: none;
}

//messages

p.success {
  width: fit-content;
  display: block;
  padding:5px;
  border-radius: 4px;
  margin-bottom: 15px;
  background-color: $good-color;
  color: black;
}

p.error {
  width: fit-content;
  display: block;
  padding:5px;
  border-radius: 4px;
  margin-bottom: 15px;
  background-color: $bad-color;
  color: black;
}

p.info {
  width: fit-content;
  display: block;
  padding:5px;
  border-radius: 4px;
  margin-bottom: 15px;
  background-color: $light-grey;
  color: black;
}

// imports
@import 'home.scss';
@import 'signup.scss';
@import 'login.scss';
@import 'account.scss';
@import 'password.scss';
@import 'posts/css/main.scss';
@import 'accounts/css/main.scss';
