.pw-change-success, .change-pw-container, .reset-pw-container {
    margin:auto;
    width: fit-content;
    background-color: $darker_black;
    border-radius: 5px;
    padding: 30px;

    h2 {
        margin-bottom: 30px;
    }
}