.signup-container {
    margin: auto;
    width: fit-content;
    padding: 30px;
    background-color: $darker_black;
    border-radius: 5px;

    @media (max-width: 750px) {
        width: auto;
    }

    .content {
        display: flex;
        flex-flow: row nowrap;

        @media (max-width: 750px) {
            flex-flow: column nowrap;
        }

        & > div:first-child {
            margin-right: 40px;
        }

        & > div {
            margin-top: 20px;
        }

        .small-card {
            padding: 20px;
            background-color: $black;
            border-radius: 5px;
            box-sizing: border-box;

        }

    }
    
}