{% extends "base.html" %}

{% block title %}Change Password{% endblock %}

{% block content %}

    {% if messages %}
    <section class="messages">
        {% for message in messages %}
        {% if message.tags == 'error' %}
        <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
        {% endif %}
        {% endfor %}
    </section>
    {% endif %}

<article class="change-pw-container">
  <h2>change my password</h2>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
	<p>
		{% if field.errors %}
		<ul class="errorlist">
			{% for error in field.errors %}
			<li>{{ error }}</li>
			{% endfor %}
		</ul>
		{% endif %}
	 	{{ field.label_tag|lower }} <br> {{ field }}
	</p>
	{% endfor %}
    <button type="submit">save new password</button>
  </form>
</article>
{% endblock %}