{% extends 'base.html' %}

{% block title %}Posts{% endblock %}

{% block content %}

<article class="post-form-container">

<h2>{% if id %} edit {% else %} create {% endif %} post</h2>

{% if messages %}
<section class="messages">
    {% for message in messages %}
    {% if message.tags == 'error' %}
    <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
    {% endif %}
    {% endfor %}
</section>
{% endif %}

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in form %}
	<p>
		{% if field.errors %}
		<ul class="errorlist">
			{% for error in field.errors %}
			<li>{{ error }}</li>
			{% endfor %}
		</ul>
		{% endif %}
	 	{{ field.label_tag|lower }} <br> {{ field }}
	</p>
	{% endfor %}
	<span>you may upload up to 3 images per post</span>
	{% if id %}
		{% if files|length == 3 %}
		{% else %}
		<input type="file" name="filepond" multiple>
		{% endif %}
	{% else %}
	<input type="file" name="filepond" multiple>
	{% endif %}

	{% if files %}
	<div class="prev-imgs">
		{% for file in files %}
		<div>
		<span><a href="{% url 'delete-img' file.id %}">x</a></span>
		<img src="{{MEDIA_URL}}{{file.file}}" alt="">
		</div>
		{% endfor %}
	</div>
	{% endif %}

    <button type="submit">{% if id %} save {% else %} publish {% endif %} post</button>
  </form>

</article>

<!-- transfer img data to js app -->
{% if id %}
<script>
 let imageUrls = JSON.parse("{{filesJson|escapejs}}")
</script>
{% endif %}


<!-- limit char typing in textfield -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script>
    jQuery(document).ready(function($) {
        var max = 5000;
        $('textarea').keypress(function(e) {
            if (e.which < 0x20) {
                // e.which < 0x20, then it's not a printable character
                // e.which === 0 - Not a character
                return;     // Do nothing
            }
            if (this.value.length == max) {
                e.preventDefault();
            } else if (this.value.length > max) {
                // Maximum exceeded
                this.value = this.value.substring(0, max);
            }
        });
    }); //end if ready(fn)
</script>
  
  
{% endblock %}