{% extends 'base.html' %}

{% block title %}Posts{% endblock %}

{% block content %}

{% if messages %}
<section class="messages">
    {% for message in messages %}
    {% if message.tags == 'success' or message.tags == 'info' %}
    <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
    {% endif %}
    {% endfor %}
</section>
{% endif %}

<article class="posts-container">
    <div class="header">
        <h2>{{board.name}}</h2>
        {% if user.is_authenticated %}
        <div class="create-post">
            <a href="{% url 'create-post' %}">create post ✎</a>
        </div>
        {% endif %}
    </div>

    <section class="posts-grid">
    {% if posts|length == 0 %}
    <div>there are no posts on this board yet ...</div>
    {% endif %}
    {% for post in posts %}
    <div>
    <a href="{% url 'single-post' post.id %}">
    <p class="title">{{post.title}}</p>
    </a><br class="responsive-linebreak">
    <!-- <p class="body"><i>{{post.body|truncatechars:50}}</i></p> -->
    <p class="details">by <a href="{% url 'profile' post.author.username %}">{{post.author.username}}</a> @ 
        <!-- 'posted' time different formats depending on context -->
        {% now "w" as day %}
        {% now "W" as week %}
        {% now "o" as year %}
        {% if post.created_at|date:"o" == year %}
            {% if post.created_at|date:"W" == week %}
                {% if 'minutes' in post.created_at|timesince %}
                    <span>posted {{post.created_at|timesince}} ago</span><br>
                {% elif post.created_at|date:"w" == day %}
                    <span>posted today, {{post.created_at|time}}</span><br>
                {% elif post.created_at|date:"w"|add:"1" == day|add:0 %}
                    <span>posted yesterday, {{post.created_at|time}}</span><br>
                {% else %}
                <span>posted {{post.created_at|date:"l g:i a"}}</span><br>
                {% endif %}
            {% else %}
                <span>posted {{post.created_at|date:"F jS \a\t g:i a"}}</span><br>
            {% endif %}
        {% else %}
            <span>posted {{post.created_at|date:"F jS o \a\t g:i a"}}</span><br>
        {% endif %}
    </p>
    </div>
    <hr>
    {% endfor %}
    </section>

</article>

{% endblock %}