{% extends 'base.html' %}

{% block title %}Posts{% endblock %}

{% block content %}

    {% if messages %}
    <section class="messages">
        {% for message in messages %}
        {% if message.tags == 'success' or message.tags == 'info' %}
        <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
        {% endif %}
        {% endfor %}
    </section>
    {% endif %}

<div class="back-nav">
    <a href="{% url 'posts' post.board.slug %}">← back to {{post.board.name}}</a>
</div>

<section class="single-post-container">

    <h2>{{post.title}}</h2>
    <span class="author">by 
        {% if author_profile.profile_picture %}
        <span class="mini-pfp">
        <img src="{{MEDIA_URL}}{{author_profile.profile_picture}}" alt="">
        </span>
        {% endif %}
        <a href="{% url 'profile' post.author.username %}">{{post.author.username}}</a></span>
   
    <p class="body">{{post.body|linebreaksbr}}</p>

    <div class="post-images">
    {% for image in images %}
        <div class="image">
            <a href="{{MEDIA_URL}}{{image.file}}" target="_blank">
            <img src="{{MEDIA_URL}}{{image.file}}" alt="">
            </a>
        </div>
    {% endfor %}
    </div>
    <!-- 'posted' time different formats depending on context -->
    {% now "w" as day %}
    {% now "W" as week %}
    {% now "o" as year %}
    
    {% if post.created_at|date:"o" == year %}
        {% if post.created_at|date:"W" == week %}
            {% if 'minutes' in post.created_at|timesince %}
                <span>posted {{post.created_at|timesince}} ago</span><br>
            {% elif post.created_at|date:"w" == day %}
                <span>posted today, {{post.created_at|time}}</span><br>
            {% elif post.created_at|date:"w"|add:"1" == day|add:0 %}
                <span>posted yesterday, {{post.created_at|time}}</span><br>
            {% else %}
            <span>posted {{post.created_at|date:"l g:i a"}}</span><br>
            {% endif %}
        {% else %}
            <span>posted {{post.created_at|date:"F jS \a\t g:i a"}}</span><br>
        {% endif %}
    {% else %}
        <span>posted {{post.created_at|date:"F jS o \a\t g:i a"}}</span><br>
    {% endif %}

    {% if post.updated_at|date:"F jS o g:i a" != post.created_at|date:"F jS o g:i a" %}
        {% if post.updated_at|date:"o" == year %}
            {% if post.updated_at|date:"W" == week %}
                {% if 'minutes' in post.updated_at|timesince %}
                    <span>updated {{post.updated_at|timesince}} ago</span><br>
                {% elif post.updated_at|date:"w" == day %}
                    <span>updated today, {{post.updated_at|time}}</span><br>
                {% elif post.updated_at|date:"w"|add:"1" == day|add:0 %}
                    <span>updated yesterday, {{post.updated_at|time}}</span><br>
                {% else %}
                <span>updated {{post.updated_at|date:"l g:i a"}}</span><br>
                {% endif %}
            {% else %}
                <span>updated {{post.updated_at|date:"F jS \a\t g:i a"}}</span><br>
            {% endif %}
        {% else %}
            <span>updated {{post.updated_at|date:"F jS o \a\t g:i a"}}</span><br>
        {% endif %}
    {% endif %}

    {% if post.author.id == request.user.id %}
    <a class="edit-button button" href="{% url 'edit-post' post.id %}">edit</a>
    <a class="delete-button button" href="{% url 'delete-post' post.id %}">delete</a>
    {% endif %}
</section>

<article class="comments-container">
    <form method="POST">
        {% csrf_token %}
        {% for field in form %}
        <p>
            {% if field.errors %}
            <ul class="errorlist">
                {% for error in field.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
             {{ field.label_tag|lower }} <br> {{ field }}
        </p>
        {% endfor %}
        <div class="button-container">
        <button type="submit" name="new-comment">post comment</button>
        </div>
      </form>

      {% for comment in comments %}
      <div class="comment" data-comment-id="{{comment.id}}">
        <div class="comment-user">
            {% if comment.user.profile.profile_picture %}
            <img class="mini-pfp" src="{{MEDIA_URL}}{{comment.user.profile.profile_picture}}" alt="">
            {% endif %}
        </div>
        <div class="comment-content">
            <div class="comment-wrapper">
            <p class="comment-username">
            by 
            <a href="{% url 'profile' comment.user %}">{{comment.user.username}}</a>
            {% if comment.user.id == post.author.id %}
            (author)
            {% endif %}
            @ 
            {% if comment.created_at|date:"o" == year %}
                {% if comment.created_at|date:"W" == week %}
                    {% if 'minutes' in comment.created_at|timesince %}
                        <span>{{comment.created_at|timesince}} ago</span><br>
                    {% elif comment.created_at|date:"w" == day %}
                        <span>today, {{comment.created_at|time}}</span><br>
                    {% elif post.created_at|date:"w"|add:"1" == day|add:0 %}
                        <span>yesterday, {{comment.created_at|time}}</span><br>
                    {% else %}
                    <span>{{comment.created_at|date:"l\, g:i a"}}</span><br>
                    {% endif %}
                {% else %}
                    <span>{{comment.created_at|date:"F jS\, g:i a"}}</span><br>
                {% endif %}
            {% else %}
                <span>{{comment.created_at|date:"F jS o\, g:i a"}}</span><br>
            {% endif %}
            </p>
            <p class="comment-body">{{comment.comment}}</p>

            <div class="button-container">
                <button class="edit-comment-button" data-comment-id="{{ comment.id }}">edit</button>
            </div>
            </div>

            <!-- edit comment form -->
            {% if comment.user.id == request.user.id %}
            <form method="POST" class="edit-comment-form hidden" data-comment-id="{{ comment.id }}">
                {% csrf_token %}
                {{form.as_p}}
                <input type="hidden" name="comment_id" value="{{comment.id}}">
                <div class="button-container">
                    <span class="button cancel-edit-btn" data-comment-id="{{ comment.id }}">cancel</span>
                    <button type="submit" name="edit-comment">save</button>
                </div>
            </form>

            {% endif %}

        </div>
      </div>
      {% endfor %}
</article>

<script>
    // Attach event listener to the parent container of the comment buttons
    const commentsContainer = document.querySelector(".comments-container");
    commentsContainer.addEventListener("click", handleEditCommentClick);

    function handleEditCommentClick(event) {
        const target = event.target;
        if (target.classList.contains("edit-comment-button")) {
            // Get the comment ID from the data attribute of the clicked button
            const commentId = target.getAttribute("data-comment-id");
            const commentForm = document.querySelector(`.edit-comment-form[data-comment-id="${commentId}"]`);
            const commentField = commentForm.querySelector('textarea[name="comment"]');

            //hide comment when editing
            const commentWrapper = document.querySelector(`.comment[data-comment-id="${commentId}"] .comment-wrapper`);
            commentWrapper.classList.toggle("hidden");

            // Get the comment text from the corresponding comment content element
            const commentContent = document.querySelector(`.comment[data-comment-id="${commentId}"] .comment-content .comment-wrapper .comment-body`);
            const commentText = commentContent.textContent.trim();

            // Populate the comment field with the comment text
            commentField.value = commentText;

            // Toggle the visibility of the edit comment form
            commentForm.classList.toggle("hidden");

        }else if(target.classList.contains("cancel-edit-btn")){
            // Get the comment ID from the data attribute of the clicked button
            const commentId = target.getAttribute("data-comment-id");

            // Toggle the visibility of the edit comment form
            const commentForm = document.querySelector(`.edit-comment-form[data-comment-id="${commentId}"]`);
            commentForm.classList.toggle("hidden");

            //show comment when cancel
            const commentWrapper = document.querySelector(`.comment[data-comment-id="${commentId}"] .comment-wrapper`);
            commentWrapper.classList.toggle("hidden");
        }
    }
</script>

{% endblock %}