.posts-container {

    h2 {
        margin-bottom: 30px;
    }

    .posts-grid {
        background-color: $darker_black;
        border-radius: 5px 5px 0px 0px;

        hr {
            border: none;
            height: 1px;
            background-color: grey;
        }

        & > a {
            text-decoration: none;

            &:hover .title {
                text-decoration: underline;
            }

            div {
                padding: 10px;
            }

            p {
                display: inline;

                &:first-child {
                    margin-right: 5px;

                }

                &.body {
                    color: $light-grey;
                }

                &.details {
                    color: $light-grey;
                    float: right;

                    &:hover {
                        color: $light-grey;
                    }
                }
            }

        }
    }

}