//posts index
.posts-container {

    .header{

        h2 {
            margin-bottom: 30px;
            display: inline-block;
        }

        .create-post {
            float: right;
            background-color: $accent-color;
            padding: 10px;
            border-radius: 5px;

            a {
                text-decoration: none;
                color: $darker_black;
            }
        }

    }

    .posts-grid {
        background-color: $darker_black;
        border-radius: 5px 5px 0px 0px;

        hr {
            border: none;
            height: 1px;
            background-color: grey;
        }

        a {
            text-decoration: none;

            &:hover {
                text-decoration: underline !important;
            }

        }

        div {
            padding: 10px;
        }

        p {
            display: inline;

            &:first-child {
                margin-right: 5px;

            }

            &.body {
                color: $light-grey;
            }

            &.details {
                color: $light-grey;
                float: right;

                &:hover {
                    color: $light-grey;
                }

                a {
                    color: $light-grey;
                    text-decoration: none;
                }
            }
        }

    }

}

// create post + edit post
.post-form-container {
    margin: auto;
    width: fit-content;

    h2 {
        margin-bottom: 30px;
    }
}

// single post
.single-post-container {
    margin: auto;
    width: 75%;
    padding: 30px;
    background-color: $darker_black;
    border-radius: 5px;

    .author {
        color: $light-grey;
    }

    .body {
        margin-top: 5px;
        margin-bottom: 5px;
        min-height: 100px;
    }

    .button {
        display: inline-block;
        margin-bottom: 0 !important;
        margin-top: 20px;
    }

    .delete-button {
        background-color: $bad-color !important;
    }

    .post-content-divider {
        border: none;
        height: 0.5px;
        background-color: $light-grey;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .post-images {
        display: flex;
        flex-flow: row nowrap;
        gap: 10px;
        overflow: scroll;
        margin: 10px;

        img {
            height: 200px;
            border-radius: 5px;
        }
    }

}