{% extends 'base.html' %}

{% block title %}Edit Profile{% endblock %}

{% block content %}

<section class="profile-form-container">

<h2>edit profile info</h2>

{% if messages %}
<section class="messages">
    {% for message in messages %}
    {% if message.tags == 'error' or message.tags == 'success' %}
    <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
    {% endif %}
    {% endfor %}
</section>
{% endif %}

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    {% if profile.profile_picture %}
    <a class="change-pfp" href="{% url 'delete-pfp' profile.user_id %}">
        <span>change my profile picture</span><br>
        (this will delete your current one)
    </a>
	{% else %}
    <label for="filepond">profile picture:</label>
	<input type="file" name="filepond" id="filepond">
	{% endif %}

    {% for field in form %}
	<p>
		{% if field.errors %}
		<ul class="errorlist">
			{% for error in field.errors %}
			<li>{{ error }}</li>
			{% endfor %}
		</ul>
		{% endif %}
	 	{{ field.label_tag|lower }} <br> {{ field }}
	</p>
	{% endfor %}
    <button type="submit">save profile</button>
</form>

</section>

{% endblock %}