@import 'home.scss';

$beige : beige;
$black : #202020;
$main_font : 'fig-serif';
$nav_font : 'bitcount-mono-double-circle';

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 20px;
    background-color: $black;
    color: $beige;
}

main {
    margin: 40px;
    font-family: $main_font;
    font-weight: 500;
}

// navigation

nav {

    div {
        float: right;

        a {
            margin-left: 0.5em;
        }
        a:hover {
            font-weight: 600;
        }
    }
    a{
        display: inline-block;
        width: fit-content;
        color: $beige;
        text-decoration: none;
        font-size: 2em;
        font-family: $nav_font;
        font-weight: 500;
    }
    a:hover {
        color: white;
    }
}