@import 'home.scss';

$beige : beige;
$black : #202020;
$main_font : 'fig-serif';
$nav_font : 'littlebit-square-variable';

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 20px;
    background-color: $black;
    color: $beige;
}

main {
    margin: 40px;
    font-family: $main_font;
    font-weight: 500;
}

// navigation

nav {

    div {
        float: right;

        a {
            margin-left: 0.5em;
        }
    }
    @keyframes grow {
        0% {
          font-variation-settings: 'BLOC' 213, 'OPEN' 23;
        }
        100% {
          font-variation-settings: 'BLOC' 213, 'OPEN' 1000;
        }
    }
    a{
        display: inline-block;
        width: fit-content;
        color: $beige;
        text-decoration: none;
        font-size: 2em;
        font-family: $nav_font;
        font-variation-settings: 'BLOC' 213, 'OPEN' 23;
    }
    a:hover {
        font-variation-settings: 'BLOC' 213, 'OPEN' 1000;
        animation-name: grow;
        animation-duration: 0.5s;
    }
}