<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}Django Auth Tutorial{% endblock %}</title>
  <link rel="stylesheet" href="https://use.typekit.net/ecm5gnz.css">
  <link href="https://unpkg.com/filepond@^4/dist/filepond.css" rel="stylesheet" />
  <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet" />
  <link
    href="https://unpkg.com/filepond-plugin-image-edit/dist/filepond-plugin-image-edit.css"
    rel="stylesheet"
    />
  {% load static %}
  {% load compress %}
  {% compress css %}
  <link type="text/x-scss" rel="stylesheet" href="{% static 'main/css/main.scss' %}">
  {% endcompress %}
</head>
<body>
    <nav>
        <a href="{% url 'home' %}" class="logo">✦✦✦</a>
        <input type="checkbox" id="overlay-input" />
        <label for="overlay-input" id="overlay-button"><span></span></label>
        <div id="overlay">
            <ul>
                <li><a href="{% url 'home' %}">home</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'alerts' %}">alerts{% if alerts_count %}({{alerts_count}}){% endif %}</a></li>
                <li><a href="{% url 'profile' request.user %}">profile</a></li>
                <li><a href="{% url 'logout' %}">log out</a></li>
                {% else %}
                <li><a href="{% url 'login' %}">log in</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
  <main>
    {% block content %}
    {% endblock %}
  </main>
  <script src="https://unpkg.com/filepond-plugin-file-validate-size/dist/filepond-plugin-file-validate-size.js"></script>
  <script src="https://unpkg.com/filepond-plugin-file-validate-type/dist/filepond-plugin-file-validate-type.js"></script>
  <script src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
  <script src="https://unpkg.com/filepond-plugin-image-transform/dist/filepond-plugin-image-transform.js"></script>
  <script src="https://unpkg.com/filepond-plugin-image-crop/dist/filepond-plugin-image-crop.js"></script>
  <script src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js"></script>
  <script src="https://unpkg.com/filepond-plugin-image-edit/dist/filepond-plugin-image-edit.js"></script>
  <script src="https://unpkg.com/filepond@^4/dist/filepond.js"></script>
  <script src="{% static 'app.js' %}"></script>
</body>
</html>
