{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

{% if messages %}
<section class="messages">
    {% for message in messages %}
    {% if message.tags == 'success' or message.tags == 'info' %}
    <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
    {% endif %}
    {% endfor %}
</section>
{% endif %}

<div class="home-container">
    {% if user.is_authenticated %}
    <p>Hi {{ user.username }}!</p>
    <p>Welcome to the forum ...</p>
    {% else %}
    <p>You are not logged in</p>
    <a href="{% url 'login' %}">log in</a> or <a href="{% url 'signup' %}">sign up</a>
    {% endif %}

    <div class="boards">
        {% for board in boards %}
        <div class="board">
            <h4><a href="{% url 'posts' board.id %}">{{board.name}}</a></h4>
            <p>{{board.description}}</p>
            <span>{{board.post_count}} posts</span>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
