{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

{% if messages %}
<section class="messages">
    {% for message in messages %}
    {% if message.tags == 'success' or message.tags == 'info' %}
    <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
    {% endif %}
    {% endfor %}
</section>
{% endif %}

{% if user.is_authenticated %}
<div class="home-container">
  <p>Hi {{ user.username }}!</p>
  <p>Welcome to the forum ...</p>
</div>
{% else %}
<div class="home-container">
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">log in</a> or <a href="{% url 'signup' %}">sign up</a>
</div>
{% endif %}
{% endblock %}
