.profile-container {
    margin: auto;
    width: fit-content;
    max-width: 300px;
    word-wrap: break-word;

    .profile {
        background-color: $darker_black;
        border-radius: 5px;
        padding: 20px;
        margin-bottom: 10px;

        img {
            border-radius: 50%;
            height: 200px;
            width: 200px;
            object-fit: cover;
        }
    }

    .joined, .post-count{
        color: $light-grey;
    }

    .account-info {
        background-color: $darker_black;
        border-radius: 5px;
        padding: 20px;
    }

    .profile-info{
        margin-top: 10px;

        .profile-info-label{
            color: $accent-color;
        }
    }

    a{
        margin-top: 15px;
        display: block;
    }

}

.profile-form-container {

    h2{
        margin-bottom: 30px;
    }

    #filepond {
        width: 200px;
        margin-top: 20px;
    }

    .change-pfp{
        display: block;
        margin-bottom: 20px;
        background-color: $darker_black;
        border-radius: 4px;
        width: fit-content;
        padding: 20px;
        text-decoration: none;
        color: $light-grey;

        span {
            text-decoration: underline;
            color: $off-white !important;
        }
    }
}